USE [master]
GO
/****** Object:  Database [QuestionPaperGenration]    Script Date: 04/25/2017 13:40:38 ******/
CREATE DATABASE [QuestionPaperGenration] ON  PRIMARY 
( NAME = N'QuestionPaperGenration', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\QuestionPaperGenration.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuestionPaperGenration_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\QuestionPaperGenration_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuestionPaperGenration].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuestionPaperGenration]
GO
/****** Object:  Table [dbo].[TempData]    Script Date: 04/25/2017 13:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempData](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionName] [nvarchar](max) NULL,
	[LId] [int] NULL,
	[SubId] [nvarchar](50) NULL,
	[QsId] [int] NULL,
	[SetNo] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TempData] ON
INSERT [dbo].[TempData] ([id], [QuestionName], [LId], [SubId], [QsId], [SetNo]) VALUES (1, N'P', 1, N'2', 1, 1)
INSERT [dbo].[TempData] ([id], [QuestionName], [LId], [SubId], [QsId], [SetNo]) VALUES (2, N'I', 3, N'2', 1, 1)
INSERT [dbo].[TempData] ([id], [QuestionName], [LId], [SubId], [QsId], [SetNo]) VALUES (3, N'U', 3, N'2', 2, 1)
SET IDENTITY_INSERT [dbo].[TempData] OFF
/****** Object:  Table [dbo].[Subject_Master]    Script Date: 04/25/2017 13:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject_Master](
	[SubId] [int] IDENTITY(1,1) NOT NULL,
	[SubName] [nvarchar](100) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Subject_Master] ON
INSERT [dbo].[Subject_Master] ([SubId], [SubName]) VALUES (1, N'Artificial intelligence')
INSERT [dbo].[Subject_Master] ([SubId], [SubName]) VALUES (2, N'Cryptography')
INSERT [dbo].[Subject_Master] ([SubId], [SubName]) VALUES (3, N'Soft Computing')
SET IDENTITY_INSERT [dbo].[Subject_Master] OFF
/****** Object:  Table [dbo].[QuestionSection]    Script Date: 04/25/2017 13:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionSection](
	[QsId] [int] IDENTITY(1,1) NOT NULL,
	[Marks] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[QuestionSection] ON
INSERT [dbo].[QuestionSection] ([QsId], [Marks]) VALUES (1, 2)
INSERT [dbo].[QuestionSection] ([QsId], [Marks]) VALUES (2, 3)
INSERT [dbo].[QuestionSection] ([QsId], [Marks]) VALUES (3, 5)
SET IDENTITY_INSERT [dbo].[QuestionSection] OFF
/****** Object:  Table [dbo].[Login]    Script Date: 04/25/2017 13:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[UId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Login] ON
INSERT [dbo].[Login] ([UId], [Username], [Password]) VALUES (1, N'Admin', N'admin')
SET IDENTITY_INSERT [dbo].[Login] OFF
/****** Object:  Table [dbo].[Level_Master]    Script Date: 04/25/2017 13:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Level_Master](
	[LId] [int] IDENTITY(1,1) NOT NULL,
	[LevelName] [nvarchar](100) NULL,
	[Level] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Level_Master] ON
INSERT [dbo].[Level_Master] ([LId], [LevelName], [Level]) VALUES (1, N'High', 3)
INSERT [dbo].[Level_Master] ([LId], [LevelName], [Level]) VALUES (2, N'Medium ', 2)
INSERT [dbo].[Level_Master] ([LId], [LevelName], [Level]) VALUES (3, N'Low', 1)
SET IDENTITY_INSERT [dbo].[Level_Master] OFF
/****** Object:  Table [dbo].[Faculty_Master]    Script Date: 04/25/2017 13:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty_Master](
	[FId] [int] IDENTITY(1,1) NOT NULL,
	[FacultyName] [nvarchar](100) NULL,
	[PhoneNo] [nvarchar](50) NULL,
	[EmailId] [nvarchar](100) NULL,
	[SubId] [int] NULL,
	[Password] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Faculty_Master] ON
INSERT [dbo].[Faculty_Master] ([FId], [FacultyName], [PhoneNo], [EmailId], [SubId], [Password]) VALUES (1, N'Computer Sci', N'9484845645', N'ComputerSci@gmail.com', 2, N'12345')
INSERT [dbo].[Faculty_Master] ([FId], [FacultyName], [PhoneNo], [EmailId], [SubId], [Password]) VALUES (2, N'IT', N'9632587410', N'ITDepartment@gmail.com', 4, N'123456')
SET IDENTITY_INSERT [dbo].[Faculty_Master] OFF
/****** Object:  Table [dbo].[QuestionBank]    Script Date: 04/25/2017 13:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionBank](
	[QId] [int] IDENTITY(1,1) NOT NULL,
	[QuestionName] [nvarchar](max) NULL,
	[LId] [int] NULL,
	[SubId] [int] NULL,
	[FId] [int] NULL,
	[QsId] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[QuestionBank] ON
INSERT [dbo].[QuestionBank] ([QId], [QuestionName], [LId], [SubId], [FId], [QsId]) VALUES (1, N'A', 1, 2, 1, 1)
INSERT [dbo].[QuestionBank] ([QId], [QuestionName], [LId], [SubId], [FId], [QsId]) VALUES (2, N'BT', 3, 5, 2, 2)
INSERT [dbo].[QuestionBank] ([QId], [QuestionName], [LId], [SubId], [FId], [QsId]) VALUES (3, N'CM', 2, 8, 2, 4)
SET IDENTITY_INSERT [dbo].[QuestionBank] OFF
/****** Object:  StoredProcedure [dbo].[Questinmark]    Script Date: 04/25/2017 13:40:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Questinmark]
as begin
Select T.*,QM.Marks,S.SubName from TempData T join QuestionSection QM on T.QsId=QM.QsId
join Subject_Master S on T.SubId=S.SubId where Marks=2
end
GO
/****** Object:  StoredProcedure [dbo].[QuestionDetails]    Script Date: 04/25/2017 13:40:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[QuestionDetails]
(
@SetNo int
)
As Begin 
Select T.*,QM.Marks,S.SubName from TempData T join QuestionSection QM on T.QsId=QM.QsId
join Subject_Master S on T.SubId=S.SubId where SetNo=@SetNo
End
GO
